{{ define "main" }}
<div id="map" style="height:100vh; width:100%;"></div>

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
  const map = L.map('map').setView([38.8990, -92.2092], 18);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '© OpenStreetMap contributors'
  }).addTo(map);

  fetch('/data/sensor.geojson')
    .then(res => res.json())
    .then(data => {
      L.geoJSON(data, {
        onEachFeature: function (feature, layer) {
          const p = feature.properties;
          layer.bindPopup(`
            <b>传感器:</b> ${p.Name || 'N/A'}<br>
            <b>经度:</b> ${p.Longitude || 'N/A'}<br>
            <b>纬度:</b> ${p.Latitude || 'N/A'}
          `);
        }
      }).addTo(map);
    });
</script>
{{ end }}
